<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% seo %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }} Feed" href="{{ '/feed.xml' | absolute_url }}">
  {% if site.favicon and site.favicon != "" %}
  <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/png" />
  {% endif %}
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
</head>
<body>

  <div id="page" class="site">
    <div class="inner">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    </div><!-- .inner -->
  </div><!-- .site -->

  <!-- Scripts -->
  {% if site.google_analytics %}
    {% include google_analytics.html %}
  {% endif %}
  <script src="{{ '/assets/js/plugins.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/custom.js' | relative_url }}"></script>

</body>
</html>
