---
layout: default
---

<article class="page-shell">
  <header class="page-header">
    <p class="kicker">Index</p>
    <h1>{{ page.title }}</h1>
    {% if page.description %}
      <p>{{ page.description }}</p>
    {% endif %}
  </header>

  {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
  {% assign sorted_tags = site_tags | split: "," | sort %}

  <div class="tag-cloud">
    {% for tag in sorted_tags %}
      <a href="#{{ tag | cgi_escape }}">{{ tag }}</a>
    {% endfor %}
  </div>

  <div class="tag-sections">
    {% for tag in sorted_tags %}
      <section id="{{ tag | cgi_escape }}">
        <h2>{{ tag }}</h2>
        <ul class="simple-list">
          {% for post in site.tags[tag] %}
            <li>
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%Y-%m-%d" }}</time>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </div>
</article>
